body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1{
    
    margin: 0 auto;
    background: #0f0cee;
    color: white;
    text-align: center;
    padding: 15px;
    font-style: italic;
}

.countries{
    max-width: 1240px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.country-div{
    background: hwb(176 67% 8%);
    border: 1px solid burlywood;
    padding: 15px;
    font-size: medium;
    font-style: italic;
}
img{
    width: 100%;
    height: 150px;
}